{{>partial_header}}
package backoff

import "time"

// Exponential is an implementation of a backoff strategy applying an
// exponential function.
type Exponential struct {
	Config
}

// Backoff returns the duration to wait.
func (b Exponential) Backoff(retries int) time.Duration {
	if retries == 0 {
		return b.BaseDelay
	}

	backoff, max := float64(b.BaseDelay), float64(b.MaxDelay)
	for backoff < max && retries > 0 {
		backoff *= b.Multiplier
		retries--
	}

	if backoff > max {
		backoff = max
	}

	backoff = addJitter(backoff, b.Jitter)
	return time.Duration(backoff)
}
