{{>partial_header}}
package credentials

import "net/http"

// Basic defines a basic authentication mechanism that attaches a username and
// password to each request.
type Basic struct {
	username string
	password string
}

// NewBasicAuthentication returns a value describing authentication credentials
// for a HTTP request.
func NewBasicAuthentication(username, password string) *Basic {
	return &Basic{
		username: username,
		password: password,
	}
}

// AddCredentials includes the basic authentication credentials within a HTTP
// request.
func (c *Basic) AddCredentials(r *http.Request) *http.Request {
	r.SetBasicAuth(c.username, c.password)
	return r
}
