{{>partial_header}}
package credentials

import "net/http"

const authorisationHeaderName = "Authorization"

type tokenFunc func(r *http.Request) string

// Bearer defines an authentication mechanism that attaches bearer token
// security credentials to each request.
type Bearer struct {
	header string
	token tokenFunc
}

// NewBearer returns a value describing authentication credentials for a HTTP
// request.
func NewBearer(token tokenFunc) *Bearer {
	return &Bearer{
		header: authorisationHeaderName,
		token:  token,
	}
}

// NewBearerWithStaticToken returns a value describing authentication
// credentials for a HTTP request.
func NewBearerWithStaticToken(token string) *Bearer {
	return &Bearer{
		header: authorisationHeaderName,
		token:  func(r *http.Request) string {
			return token
		},
	}
}

// SetHeader allows for the bearer authentication scheme to be used with
// a non-default header.
func (c *Bearer) SetHeader(header string) {
	c.header = header
}

// AddCredentials includes the bearer authentication credentials within a HTTP
// request.
func (c *Bearer) AddCredentials(r *http.Request) *http.Request {
	r.Header.Set(c.header, "Bearer "+c.token(r))
	return r
}
