{{>partial_header}}
package credentials_test

import (
	"encoding/base64"
	"net/http"
	"testing"

	"{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/credentials"
)

func TestBasicAuthentication(t *testing.T) {
	t.Run("sets basic authenticaton credentials on a HTTP request", func(t *testing.T) {
		r, err := http.NewRequest(http.MethodGet, "", nil)
		if err != nil {
			t.Fatalf("failed to create request: %+v", err)
		}

		c := credentials.NewBasicAuthentication("jean-luc", "enterprise")
		c.AddCredentials(r)

		authorisationHeader := r.Header.Get("Authorization")
		expected := "Basic "+base64.StdEncoding.EncodeToString([]byte("jean-luc:enterprise"))

		if authorisationHeader != expected {
			t.Errorf("expected: %s, got: %s", expected, authorisationHeader)
		}
	})
}

func TestBearerToken(t *testing.T) {
	t.Run("sets bearer authenticaton credentials on a HTTP request", func(t *testing.T) {
		r, err := http.NewRequest(http.MethodGet, "", nil)
		if err != nil {
			t.Fatalf("failed to create request: %+v", err)
		}

		c := credentials.NewBearerWithStaticToken("this-is-a-token")
		c.AddCredentials(r)

		authorisationHeader := r.Header.Get("Authorization")
		expected := "Bearer this-is-a-token"

		if authorisationHeader != expected {
			t.Errorf("expected: %s, got: %s", expected, authorisationHeader)
		}
	})

	t.Run("when a custom function is given, sets bearer authenticaton credentials on a HTTP request", func(t *testing.T) {
		r, err := http.NewRequest(http.MethodGet, "", nil)
		if err != nil {
			t.Fatalf("failed to create request: %+v", err)
		}

		c := credentials.NewBearer(func(r *http.Request) string {
			return "this-is-a-token"
		})
		c.AddCredentials(r)

		authorisationHeader := r.Header.Get("Authorization")
		expected := "Bearer this-is-a-token"

		if authorisationHeader != expected {
			t.Errorf("expected: %s, got: %s", expected, authorisationHeader)
		}
	})
}
